# As we know, every specialty has many subspecialties. In this notebook, we will use the OpenAI model to label our collected data and assign a category to every skill.

In [1]:
import pandas as pd
import openai
import time
import re

In [19]:
df = pd.read_excel(r'C:\\Users\\MSi\\Downloads\\skill_ds_rep.xlsx')
df.head()

   Unnamed: 0                     skill_name  frequency
0           0  Python (Programming Language)        443
1           1               Machine Learning        294
2           2                   Data Science        190
3           3                  Deep Learning        181
4           4       Machine Learning Methods        161

### Using the poenai api_key

In [4]:
openai.api_key = "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"

In [14]:
# Define your training data and course unit list
training_data = [   
    {"Skill": "JavaScript", "Course Units": ["Web Development"]},
    {"Skill": "Python", "Course Units": ["Web Development", "Data Analysis","Artificial Intelligence"]},
    {"Skill": "Java", "Course Units": ["Web Development", "Cloud Computing"]},
    {"Skill": "SQL", "Course Units": ["Database Administration", "Data Analysis"]},
    {"Skill": "Statistics", "Course Units": ["Mathematics and Probability", "Financial Analysis","Data Analysis"]},
    {"Skill": "Network Security", "Course Units": ["Security", "Networks"]},
    {"Skill": "Machine Learning", "Course Units": ["Artificial Intelligence","Data Analysis"]},
    {"Skill": "Business Analysis", "Course Units": ["Financial Analysis"]},
    {"Skill": "Data Engineering", "Course Units": ["Data Management","Distributed Systems"]},
    {"Skill": "Project Management", "Course Units": ["Management"]},
    {"Skill": "Data Visualization", "Course Units": ["Data Analysis"]},
    {"Skill": "Cloud Architecture", "Course Units": ["Cloud Computing", "Systems Architecture"]}
]

course_unit_list = [
    'Management', 'Web Development', 'operations research', 
    'Data Analysis', 'Cloud Computing', 'Database Administration',
    'Mathematics and Probability', 'Financial Analysis', 'Security',
    'Artificial Intelligence'
]

# Define the matchSkill function
def matchSkill(skill):
   # Define the prompt to train a text classification model
    prompt = "Train a classification model to associate skills with the corresponding courses units in the course_unit_list. The goal is to accurately match a skill with the course unit(s) that are most closely related to that skill. Here is the training data:\n"
    for d in training_data:
        prompt += f"Skill: {d['Skill']}, Course Units: {', '.join(d['Course Units'])}\n"
    prompt += f"The course unit list includes the following units: {', '.join(course_unit_list)}. Use this information to guide the model in making accurate predictions. \n"
    prompt += f"For example, if the skill is '{skill}', which course unit(s) should the model associate with it?Enter only the name(s) of the course unit(s) below (comma-separated if multiple).\n"

    # Train the model using OpenAI's GPT-3 API
    response = openai.Completion.create(
        engine="text-davinci-002",
        prompt=prompt,
        temperature=0.5,
        max_tokens=1024,
        n=1,
        stop=None,
    )

    # Get the generated label from the model
    course_unit = response.choices[0].text.strip()
    return course_unit
# Load the data
df = pd.read_excel(r'C:\\Users\\MSi\\Downloads\\skill_ds_rep.xlsx')

In [18]:
df['course_unit'] = df['skill_name'][:50].apply(matchSkill)

### Improving the output of openai

In [ ]:
df = df.drop(df.index[50:])
df = df.iloc[:50].copy()
df = df[~df['course_unit'].str.startswith(('The model', 'If the skill','The course'))]
df['course_unit'] = df['course_unit'].str.split(',')
df = df.explode('course_unit')

##### Here we have that evry skill have a course_unit(category)

In [21]:
df.head()

                      skill_name  frequency              course_unit
0  Python (Programming Language)        443          Web Development
1  Python (Programming Language)        443       Data Visualization
2  Python (Programming Language)        443  Artificial Intelligence
3               Machine Learning        294  Artificial Intelligence
4                  Deep Learning        181  Artificial Intelligence

In [22]:
#